.mainBox{
    border: red solid 3px;
    /*display: flex;*/
    margin: 8px;
}
.title{
    margin: 10px;
    border: blue solid 3px;
    text-align: center;
}
/*.blue-box{*/
/*    border: solid blue 3px;*/
/*}*/
.monthDuration{
    margin: 10px;
    border: blue solid 3px;

    text-align: center;
    flex-grow: 3;
}
.hourDuration{
    margin: 10px;
    border: blue solid 3px;
    text-align: center;
    flex-grow: 5;
}
.durationBox{
    display: flex;
}
.modules{
    margin: 10px;
    border: blue solid 3px;
}
.modulesBlock{
    margin: 10px;
    border: blue solid 3px;
}